<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <preference for="FutureActivities\ContentManagerApi\Api\ContentInterface" type="FutureActivities\ContentManagerApi\Model\Content" />
   <preference for="FutureActivities\ContentManagerApi\Api\Data\ContentResultInterface" type="FutureActivities\ContentManagerApi\Model\Content\Result" />
</config>